body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

#wrapper {
  text-align: left;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 768px;
}

h1 {
  font-family: 'Merriweather', serif;
  color: black;
}

input {
  width: 10em;
  margin: 8px 0 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.year {
  box-sizing: border-box;
  width: 100%;
  height: 16px;
}

.year:nth-child(5n+0) {
  margin-bottom: 4px;
}

.year-label {
  display: none;
}

.week-list {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.week-list li {
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 1px;
  padding: 0;
  width: 16px;
  height: calc(100% - 2px);
  max-width: calc(100% / 52 - 2px);
  border: 1px solid black;
  border-radius: 2px;
  background: white;
}

.week-list li:hover, .week-list li.spent:hover {
  background: red;
}

.week-list li.spent {
  background: black;
}

@media only screen and (min-width: 480px) {
  #wrapper {
    padding: 1em;
  }

  .year-label {
    display: block;
    float: left;
    box-sizing: border-box;
    height: 100%;
    padding-right: 0.5em;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    font-size: 100%;
    width: 2em;
  }

  .week-list {
    width: calc(100% - 2em);
  }
}
