body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#wrapper {
  text-align: left;
  margin: 0 auto;
  padding: 1em;
  max-width: 768px;
}

h1 {
  font-family: 'Merriweather', serif;
}

input {
  width: 10em;
  margin: 8px 0 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

table {
  box-sizing: border-box;
  margin: 0;
  margin-left: -5em;
  padding: 0;
  border-spacing: 1px;
  width: 100%;
  font-size: 1vw;
  line-height: 1vw;
  text-align: right;
}

tr {
  margin: 0;
  padding: 0;
}

td.year-label {
  width: 5em;
}

td.week {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: calc((100% - 5em) / 52 / 1.2);
  background: white;
  border: 1px black solid;
  border-radius: 2px;
  overflow: hidden;
}

td.spent {
  background: black;
}
