body {
  background: white;
}
table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-spacing: calc(12vw / 53);
  width: 100%;
  font-size: 1vw;
  text-align: right;
}

tr {
  margin: 0;
  padding: 0;
  height: calc(1vw + calc(36vw / 53));
}

td.week {
  width: calc(1vw + calc(36vw / 53));
  margin: 0;
  padding: 0;
  background: white;
  border: 1px black solid;
  overflow: hidden;
}

td.spent {
  background: black;
}
