body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  max-width: 768px;
}

h1 {
  font-family: 'Merriweather', serif;
}

table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-spacing: 1px;
  width: 100%;
  font-size: 1vw;
  line-height: 1vw;
  text-align: right;
}

tr {
  margin: 0;
  padding: 0;
}

td.year-label {
  width: 3%;
}

td.week {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: calc(97% / 52 / 1.2);
  background: white;
  border: 1px black solid;
  border-radius: 2px;
  overflow: hidden;
}

td.spent {
  background: black;
}
