<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Life calendar">
    <meta property="og:description" content="Your life summarized in weeks">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lifecal.2501.sh/">
    <meta property="og:image" content=".{{ url_for('static', filename='icon-512.png') }}">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-48.png') }}" sizes="48x48">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-72.png') }}" sizes="72x72">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-120.png') }}" sizes="120x120">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-128.png') }}" sizes="128x128">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-144.png') }}" sizes="144x144">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-152.png') }}" sizes="152x152">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-180.png') }}" sizes="180x180">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-384.png') }}" sizes="384x384">
    <link rel="icon" type="image/png" href=".{{ url_for('static', filename='icon-512.png') }}" sizes="512x512">
    <title>Life calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".{{ url_for('static', filename='screen.css') }}">
    <script src="{{ url_for('static', filename='lifecal.js') }}" defer></script>
</head>
<body>
  <div id="wrapper">
    <h1>Your Life in Weeks</h1>
    {% if used_weeks %}
    <p>
    {{ used_weeks }} of {{ lifespan * 52 }} weeks have passed since {{ birthday }}.
      Click <a href="?reset=1">here</a> to re-set your info.
    </p>
    <table>
      {% for y in range(1, lifespan + 1) %}
      <tr>
        <td class="year-label">
          {% if y % 5 == 0 %}{{ y }}{% endif %}
        </td>
        {% for w in range(52) %}
        <td class="week {% if (y * 52 + w) < used_weeks %}spent{% endif %}"></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <form action="#">
      <p>Please provide some information to build your calendar.</p>
      <label for="birthday">Birthday</label><br />
      <input type="date" name="birthday" /><br />
      <label for="lifespan">Expected lifespan</label><br />
      <input type="text" inputmode="numeric" pattern="[0-9]*" name="lifespan" value="90" /><br />
      <input type="submit" value="submit" />
    </form>
    {% endif %}
    <p>
      To learn more about Life calendar, check the original blog post
      <cite><a href="https://waitbutwhy.com/2014/05/life-weeks.html">Your Life in Weeks</a></cite> by Tim Urban.
    </p>
    <p><a href="https://github.com/e0en/life-calendar">github: e0en/life-calendar</a></p>
  </div>
</body>
</html>

